template(name='chat_rooms')

  #building

    #room_1
      each users_in_room 1
        img(class='avatar' src=profile.avatar title='profile_pic')
    #room_2
      each users_in_room 2
        img(class='avatar' src=profile.avatar title='profile_pic')

