template(name='chat_rooms')

  #building

    #room_1

      h1 room 1

      #message_box
        #all_messages
          | {{> messages}}
      each users_in_room 1
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_2
      h1 room 2
      each users_in_room 2
        img(class='avatar' src=profile.avatar title='profile_pic')

