template(name='chat_rooms')


    #room_1.col-md-3.room
      h1 room 1
      each users_in_room 1
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_2.col-md-3.room
      h1 room 2
      each users_in_room 2
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_3.col-md-3.room
      h1 room 3
      each users_in_room 3
        img(class='avatar' src=profile.avatar title='profile_pic')
