/* CSS declarations go here */
.header-avatar{
	height: 30px;
width: 30px;
margin-top: 13px;

}

#building {
  width:  100%;
  border: black 1px solid;
}

#building #room_1, #building #room_2, #building #room_3 {
  width:  250px;
  height: 250px;
  border: green 1px solid;
}

.avatar {
  width: 50px;
  height: 50px;
}
