.page {
  padding:10px;
}

#message_box {
  padding: 5px;
}

.header-avatar{
  height: 30px;
  width: 30px;
  margin-top: 13px;
}

#building {
  width:  100%;
  border: black 1px solid;
  min-height:500px;
}

.room {
  width:  250px;
  height: 250px;
  border: green 1px solid;
  cursor: pointer;
}

.room:hover {
  background:  #f8f8f8;
}

.avatar {
  width: 50px;
  height: 50px;
}
