head

  title kokomo
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='lib/bootstrap-glyphicons/bootstrap.icon-large.min.css')

body
  | {{> header}}
  .page
    #building
      | {{> chat_rooms}}
      | {{> message_box}}

