head

  title kokomo
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')

body
  | {{> header}}
  .page
    .row
      #building
        #rooms.col-md-9
          | {{> chat_rooms}}
        #rooms.col-md-3
          | {{> message_box}}

