head

  title kokomo
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')

body
  h1 kokomo

  | {{> profile}}
  | {{> loginButtons}}
  | {{> video}}
  | {{> chat_rooms}}
  | {{> message_box}}

